@import url('https://fonts.googleapis.com/css2?family=Anton&family=Monoton&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, grey 0.1px, transparent 1px),
    linear-gradient(to bottom, grey 0.1px, transparent 1px);
  padding: 0 3em 0 3em;
  min-height: 99vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 1fr;
  font-family: 'Anton', sans-serif;
}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 3em;
  text-align: center;
  margin: 0;
  padding: 0;
}